*, *::after, *::before{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    background-image: url(../img/Group_2258@2x.png);
    background-size: 100vw 100vh;
    background-repeat: repeat-y;
}