

@media (min-width:1400px){
    .navbar-img-container{
        width: 20vw;
        .logo{
            display: flex;
            height: 28px;
            width: 100%;
        }
    }
    .btn-group{
        min-width: 125px;
    }
    

}

@media(max-width:1399px){
    /*Ajustando la navbar luego esconder el menú y mostrar el menú hamburguesa*/
    .navbar-content{
        justify-content: flex-end;
    }
    .navbar-img-container{
        width: auto;
        .logo{
            display: flex;
            height: 28px;
            width: 331px;
        }
    }
    .btn-group{
        min-width: 105px;
    }
    .burguer-btn{
        width: 30px;
        &::before{
            margin: 5px 0px;
            height: 2px;
        }
        span{
            margin: 5px 0px;
            height: 2px;
        }
        &::after{
            height: 2px;
            margin: 5px 0px;
        }
    }
    .burguer-btn-active{
        width: 30px;
        &::before{
            transform: rotate(-45deg) translate(-8px, 8px);
        }
        &::after{
            transform: rotate(45deg) translate(-9px, -9px);
        }
    }


    /*Ajustes de los titulos de los articulos*/
    .title{
        font-size: 40px;
        width: 75%;
    }
}

@media (min-width:1000px){
    .navbar-search{
        .search{
            font-size: 17px;
            padding: 10px 5px;
        }
    }
    .btn-group{
        .btn-blue{
            font-size: 17px;
            padding: 10px 20px;
        }
    }
    #main-section{
        .img-container{
            height: 50%;
        }
        .main-title{
            font-size: 40px;
        }
    }

}


@media (max-width:999px){
    /*Ajustes de los elementos de la navbar*/
    .navbar-img-container{
        width: auto;
        .logo{
            display: flex;
            height: 20px;
            width: 250px;
        }
    }
    .navbar-search{
        .search{
            font-size: 15px;
            padding: 5px 2.5px;
        }
    }
    .burguer-btn{
        width: 20px;
        &::before{
            margin: 2.5px 0px;
            height: 2px;
        }
        span{
            margin: 2.5px 0px;
            height: 2px;
        }
        &::after{
            height: 2px;
            margin: 2.5px 0px;
        }
    }
    .burguer-btn-active{
        width: 20px;
        &::before{
            transform-origin: center center;
            transform: rotate(-45deg) translate(-5px, 5px);
        }
        span{
            opacity: 0;
        }
        &::after{
            transform-origin: center center;
            transform: rotate(45deg) translate(-5px, -5px);
        }
    }

    .btn-group{
        .btn-blue{
            font-size: 15px;
            padding: 7.5px 10px;
        }
    }

    /*Ajuste de los elementos de la sección principal*/

    #main-section{
        .img-container{
            height: 40%;
        }
        .main-title{
            font-size: 40px;
        }
    }


    /*Ajustes de los artículos (process about work y  we are here to always help you)*/
    .article-section{
        .content-article{
            .paragraph-article{
                font-size: 12px;
            }
        }        
    }

    /*Ajuste títulos de los articulos*/
    .title{
        font-size: 30px;
    }
}


@media (max-width:699px){
    .navbar-search{
        .search{
            font-size: 13px;
        }
    }
    .btn-group{
        min-width: 90px;
        .btn-blue{
            font-size: 13px;
            padding: 7.5px;
        }
    }
    .navbar-img-container{
        width: 30px;
        .logo{
            height:30px;
        }
    }
    #main-section{
        .main-title{
            font-size: 25px;
        }
    }
}