
@media (min-width:1400px){
    /*Ajustes tamaño de logo navbar*/
    .navbar-img-container{
        width: 20vw;
        .logo{
            display: flex;
            height: 28px;
            width: 100%;
        }
    }
    /*Ajuste de tamaño del buscador*/
    .navbar-search{
        width: 35%;
    }
     /*Ajuste de tamaño de container de botones principales*/
    .btn-group{
        min-width: 125px;
    }
    
    /*Ajuste de tamaño de carousel what is speciality for us*/
    /*3 items visibles*/
    #speciality-for-us{
        .carousel{
            .blur{
                max-height: 350px;
            }
            .carousel-inner{ 
                .carousel-item-container{
                    flex-shrink: 0;
                    width: 25vw;
                }
                .carousel-item{
                    margin: 0px 30px;
                    height: 400px;
                    padding: 20px;
                    .img-container-carousel{
                        height: 200px;
                        width: 200px;
                        .carousel-item-img{
                            height: 200px;
                            width: 200px;
                        }
                    }
                    .content-carousel-item{
                        .title-carousel-item{
                            font-size: 15px;
                        }
                        .description-carousel-item{
                            font-size: 12px; 
                        }
                    }
                }
            }
        }
    }

}

@media (min-width:1500px){

    /*Ajuste de tamaño de carousel what is speciality for us*/
    #speciality-for-us{
        .carousel{
            .blur{
                max-height: 400px;
            }
            .carousel-inner{ 
                .carousel-item{
                    border-radius: 5px;
                    height: 500px;
                    .img-container-carousel{
                        height: 225px;
                        width: 225px;
                        margin-bottom: 15px;
                        .carousel-item-img{
                            height: 225px;
                            width: 225px;
                        }
                    }
                    .content-carousel-item{                        
                        .title-carousel-item{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    /*Ajuste carousel what our Clients says*/

    #what-says{
        .carousel-special{   
            .img1{
                height: 200px;
                top: 5%;
                left: 45%;
            }
        }
    }
}

@media (max-width:1499px){
    /*Ajuste de tamaño de carousel what our clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 150px;
                top: 15%;
                left: 45%;
            }
        }
    }
}

@media(max-width:1399px){
    /*Ajustando la navbar luego esconder el menú*/
    .navbar-content{
        justify-content: flex-end;
    }
    .navbar-search{
        width: 50%;
    }
    .navbar-img-container{
        width: auto;
        .logo{
            display: flex;
            height: 28px;
            width: 331px;
        }
    }

    /*Ajustes del container de los botones principales*/
    .btn-group{
        min-width: 105px;
    }

    /*Ajustes de tamaño botón hamburguesa*/
    .burguer-btn{
        width: 30px;
        &::before{
            margin: 5px 0px;
            height: 2px;
        }
        span{
            margin: 5px 0px;
            height: 2px;
        }
        &::after{
            height: 2px;
            margin: 5px 0px;
        }
    }
    .burguer-btn-active{
        width: 30px;
        &::before{
            transform: rotate(-45deg) translate(-8px, 8px);
        }
        &::after{
            transform: rotate(45deg) translate(-9px, -9px);
        }
    }


    /*Ajustes de los titulos de los articulos*/
    .title{
        font-size: 40px;
        width: 75%;
    }

    /*Ajuste links footer*/
    
    .link-footer{
        font-size: 12px!important;
    }

    /*Ajustes carousel what is speaciality for us*/
    #speciality-for-us{
        .carousel{
            .carousel-inner{ 
                .carousel-item{
                    height: 400px;
                    .img-container-carousel{
                        height: 175px;
                        width: 175px;
                        .carousel-item-img{
                            height: 175px;
                            width: 175px;
                        }
                    }
                    .content-carousel-item{
                        .title-carousel-item{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    /*Ajuste de tamaño de carousel what our clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 150px;
                top: 15%;
                left: 44.5%;
            }
        }
    }

}

@media (max-width:1200px){
    /*Ajuste de tamaño de carousel what is speciality for us*/
    /*2 items visibles*/
    #speciality-for-us{
        .carousel{
            .carousel-inner{
                .carousel-item-container{
                    width: 33vw;
                }
            }
        }
    }

    /*Ajuste de tamaño de carousel what our clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 150px;
                top: 14%;
                left: 43.5%;
            }
        }
    }
}

@media (min-width:1000px){
    /*Ajuste de tamaño del buscador*/
    .navbar-search{
        .search{
            font-size: 17px;
            padding: 10px 5px;
        }
    }

    /*Ajuste de tamaño de los botones*/
    .btn-group{
        .btn-blue{
            font-size: 17px;
            padding: 10px 20px;
        }
    }

    /*Ajustes de tamaño de la sección principal*/
    #main-section{
        .img-container{
            height: 50%;
        }
        .main-title{
            font-size: 40px;
        }
    }

}


@media (max-width:999px){
    /*Ajustes de los elementos de la navbar*/
    .navbar-img-container{
        width: auto;
        .logo{
            display: flex;
            height: 20px;
            width: 250px;
        }
    }
    .navbar-search{
        width: 50%;
        .search{
            font-size: 15px;
            padding: 5px 2.5px;
        }
    }

    /*Ajustes de tamaño del botón hamburguesa*/
    .burguer-btn{
        width: 20px;
        &::before{
            margin: 2.5px 0px;
            height: 2px;
        }
        span{
            margin: 2.5px 0px;
            height: 2px;
        }
        &::after{
            height: 2px;
            margin: 2.5px 0px;
        }
    }
    .burguer-btn-active{
        width: 20px;
        &::before{
            transform-origin: center center;
            transform: rotate(-45deg) translate(-5px, 5px);
        }
        span{
            opacity: 0;
        }
        &::after{
            transform-origin: center center;
            transform: rotate(45deg) translate(-5px, -5px);
        }
    }

    /*Ajuste de botones*/
    .btn-group{
        .btn-blue{
            font-size: 15px;
            padding: 7.5px 10px;
        }
    }

    /*Ajuste de los elementos de la sección principal*/

    #main-section{
        .img-container{
            height: 40%;
        }
        .main-title{
            font-size: 40px;
        }
    }


    /*Ajustes de los artículos (process about work y  we are here to always help you)*/
    .article-section{
        .content-article{
            .paragraph-article{
                font-size: 12px;
            }
        }        
    }

    /*Ajuste títulos de las secciones*/
    .title{
        font-size: 30px;
    }

    /*Ajuste Carousel What is Speciality For Us*/
    #speciality-for-us{
        .carousel{
            .carousel-inner{
                .carousel-item-container{
                    .carousel-item{
                        .img-container-carousel{
                                height: 150px;
                                width: 150px;
                            .carousel-item-img{
                                height: 150px;
                                width: 150px;
                            }
                        }
                    }
                    .content-carousel-item{
                        .title-carousel-item{
                            text-align: center;
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    /*Ajuste partners and clients*/
    .partners-clients{
        width: 85vw;
        .partners-clients-column, .partners-clients-column-center{
            .partners-container{
                padding: 20px;
                height: 175px;
                width: 80%;
                .img-container{
                    height: 85%;
                    .img-partners{
                        max-height: 100px;
                        max-width: 150px;
                        width: 100%;
                        
                    }
                    #mobile{
                        max-width: 60px;
                    }
    
                }
            }
        }
    }

    /*Ajustes carousel what clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 150px;
                top: 12.5%;
                left: 41%;
            }
        }
    }


    /*Ajustes footer*/
    #footer{
        .img-container{
            min-width: 45vw;
            max-width: 60vw;
        }
        .links-footer-container{
            grid-template-columns: repeat(2,40%);
        }
    }
}

@media (max-width:799px){

    /*Ajuste de tamaño what is speciality for Us*/
    /*3 items visibles*/
    #speciality-for-us{
        .carousel{
            .carousel-inner{ 
                .blur{
                    max-height: 300px;
                    .title-carousel-item{
                        font-size: 11px!important;
                    }
                }
                .carousel-item-container{
                    width: 55vw;
                }
                .carousel-item{
                    height: 350px;
                    .img-container-carousel{
                        height: 150px;
                        width: 150px;
                        .carousel-item-img{
                            height: 150px;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

    /*Ajuste de tamaño what our clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 150px;
                top: 12.5%;
                left: 40%;
            }
            .img2{
                height: 80px!important;
            }
            .img5{
                height: 70px!important;
            }
            .person-container{
                .testimony-container{
                    .testimony{
                        font-size: 14px;
                    }
                    
                }
                .testimony-author{
                    font-size: 12px;
                }
            }
        }
    }
}


@media (max-width:699px){

    /*Ajuste navbar*/
    .navbar-search{
        .search{
            font-size: 13px;
        }
    }
    .navbar-img-container{
        width: 30px;
        .logo{
            height:30px;
        }
    }

    /*Ajuste tamaño de boton*/
    .btn-group{
        min-width: 90px;
        .btn-blue{
            font-size: 13px;
            padding: 7.5px;
        }
    }

    #main-section{
        .main-title{
            font-size: 25px;
        }
    }

    /*Ajuste clients and partners*/

    .partners-clients{
        width: 100vw;
        .partners-clients-column, .partners-clients-column-center{
            .partners-container{
                font-size: 10px;
                padding: 20px;
                height: 150px;
                width: 80%;
                .img-container{
                    height: 85%;
                    .img-partners{
                        max-height: 75px;
                        max-width: 100px;
                        width: 100%;
                        
                    }
                    #mobile{
                        max-width: 40px;
                    }
                }
                &:hover{
                    font-size: 13px;
                }
            }
        }
    }

    /*Ajustes al Contact Form*/
    #contact-form{
        .section-form-container{
            grid-template-columns: auto;
            .img-container{
                display: none;
            }
        }
    }

    /*Ajustes carousel what clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 125px;
                top: 17%;
                left: 40%;
            }
        }
    }
    
}

@media (max-width:600px) {
    /*Ajuste de tamaño de todas las secciones*/
    .section{
        .title{
            width: 80%!important;
        }
    }

    /*Ajuste de secciones de articulos (process about work y  we are here to always help you)*/
    .article-section{
        grid-template-columns: auto;
        padding: 5%;
        .title{
            width: 100%;
        }
        .content-article{
            *{
                margin-bottom: 10px;
            }
            button{
                margin: 0;
            }
        }
        .img-container{
            .img-article{
                display: none;
            }
        }
    }


    /*Ajustes de tamaño carousel speciality for us*/
    #speciality-for-us{
        .carousel{
            .carousel-inner{ 
                .blur{
                    max-height: 250px;
                    .title-carousel-item{
                        font-size: 10px!important;
                    }
                }
                .carousel-item-container{
                    width: 55vw;                
                    .carousel-item{
                        height: 300px;
                        .img-container-carousel{
                            height: 125px;
                            width: 125px;
                            .carousel-item-img{
                                height: 125px;
                                width: 125px;
                            }
                        }
                        .content-carousel-item{
                            .title-carousel-item{
                                font-size: 12px!important;
                            }
                            .description-carousel-item{
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }

    /*Ajustes de tamaño carousel what clients says*/
    #what-says{
        height: 500px;
        .carousel-special{           
            .img1{
                height: 100px;
                top: 15%;
                left: 42.5%;
            }
            .carousel-special-inner{
                .person-container{
                    height: 80%;
                }
            }
        }
    }

    /*Ajustes footer*/
    #footer{
        .links-footer-container{
            grid-template-columns: repeat(2,50%);
        }
    }
}

@media (max-width:499px){
    /*Ajustes de grid y de tamaño de clientes y partners*/
    .partners-clients{
        grid-template-columns: repeat(2,45%);
        .partners-clients-column, .partners-clients-column-center{
            margin-top: 0;
            .partners-container{
                &:hover{
                    font-size: 12px;
                }
            }
        }
    }

    /*Ajustes What is speciality for us */
    #speciality-for-us{
        .carousel{
            .carousel-inner{ 
                .carousel-item-container{               
                    .carousel-item{
                        .img-container-carousel{
                            height: 100px;
                            width: 100px;
                            .carousel-item-img{
                                height: 100px;
                                width: 100px;
                            }
                        }
                        .content-carousel-item{
                            .title-carousel-item{
                                font-size: 11px!important;
                            }
                            .description-carousel-item{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    /*Ajuste de tamaño carousel what clients says*/
    #what-says{
        .carousel-special{   
            .img1{
                height: 100px;
                top: 20%;
                left: 41%;
            }
            .person-container{
                .testimony-container{
                    width: 70%!important;
                    .testimony{
                        font-size: 12px;
                    }
                    
                }
                .testimony-author{
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    /*Ajustes de colocación y de tamaño del carousel what our clients says*/
    #what-says{
        .carousel-special{
            .img1{
                height: 80px;
                top: 20%;
                left: 40%;
            }
            .img2{
                height: 60px!important;
                top: 2% !important;;
                left: 2%!important;
            }
            .img4{
                left: 10%!important;
            }
            .img5{
                height: 50px!important;
            }
            .carousel-special-inner{
                .person-container{
                    height: 90%;
                }
            }
        }
    }

}

@media (max-width:400px){
    /*ajuste de tamaño navbar-search*/
    .navbar-search{
        .search-button{
            padding: 5px;
            width: 20%!important;
        }
    }

    /*ajuste de tamaño carousel speciality for us*/
    #speciality-for-us{
        .carousel{
            .carousel-inner{ 
                .blur{
                    max-height: 300px;
                }
                .carousel-item-container{              
                    .carousel-item{
                        height: 350px;
                        .img-container-carousel{
                            height: 75px;
                            width: 75px;
                            .carousel-item-img{
                                height: 75px;
                                width: 75px;
                            }
                        }
                    }
                }
            }
        }
    }
        /*Ajustes footer*/
    #footer{
        .img-container{
            min-width: 60vw;
            max-width: 80vw;
        }
        .links-footer-container{
            grid-template-columns: 80%;
        }
    }

}

@media (max-width:300px){

    /*Ajustes de grid de los clientes y partners*/
    .partners-clients{
        grid-template-columns: 90%;
        .partners-clients-column, .partners-clients-column-center{
            .partners-container{
                &:hover{
                    font-size: 12px;
                }
            }
        }
    }

    /*Ajustes de colocación what clients says*/
    #what-says{
        .carousel-special{
            .img1{
                top: 16%;
                left: 36%;
            }
        }
    }
}