#nav{
    align-items: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, auto);
    position: fixed;
    top: 0;
    padding: 20px 2.5vw;
    width: 100vw;
    z-index: 4;
    .navbar-content{
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        div{
            margin: 0px 1%;
        }
    }
    .navbar-img-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .navbar-nav-container{
        .navbar-nav{
            display: flex;
            flex-direction: row;
            list-style: none;
            .navbar-nav-item{
                cursor: pointer;
                font-size: 17px;
                text-align: center;
                margin: 10px;
                &:hover{
                    align-items: center;
                    color:#185F7F;
                    display: flex;
                    flex-direction: column;
                    transition: 0.25s;
                    &::after{
                        background-color: #185F7F;
                        content: "";
                        height: 10px;
                        border-radius: 50%;
                        width: 10px;
                    }
                }
            }
            
            /*Estilo para nav-item actual*/
            .active{
                align-items: center;
                color:#185F7F;
                display: flex;
                font-weight: 800;
                flex-direction: column;
                justify-content: center;
            }
            

            .active::after{
                background-color: #185F7F;
                content: "";
                height: 10px;
                width: 10px;
                border-radius: 50%;

            }
        }
    }
    /*Input de busqueda*/
    .navbar-search{
        display: flex;
        width: 50%;
        .search{
            display: flex;
            border: solid 1px #C6BAF8;
            border-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-right: none;
            width: 80%;
        }
        .search-button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            border: solid 1px #C6BAF8;
            border-left:none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            cursor: pointer;
            width: 10%;
            img{
                width: 100%;
            }
        }
    }

    /*Boton menú hamburguesa*/
    .burguer-btn{
        display: flex;
        flex-direction: column;
        &::before{
            transition: 1s;
            border-radius: 2px;
            content: "";
            width: auto;
            background-color: #185F7F;
        }
        span{
            transition: 1s;
            border-radius: 2px;
            width: auto;
            background-color: #185F7F;
        }
        &::after{
            transition: 1s;
            border-radius: 2px;
            content: "";
            width: auto;
            background-color: #185F7F;
        }
    }

    /*Botón menu hamburguesa desplegado*/
    .burguer-btn-active{
        @extend .burguer-btn;
        &::before{
            transition: 1s;
            transform-origin: center center;
        }
        span{
            opacity: 0;
        }
        &::after{
            transition: 1s;
            transform-origin: center center;
        }
    }
}



/*Menu hamburguesa desplegado*/
.navbar-nav-container-collapse{
    background-color: #1B92C8;
    padding-top: 100px;
    position: fixed;
    top:0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    .navbar-nav-collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        .navbar-nav-item-collapse{
            cursor: pointer;
            padding: 5px;
            color: #fff;
            font-size: 20px;
            &:hover{
                transition: 0.25s ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                color:#1B92C8;
                width: 100vw;
            }
        }
    }
}